* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    background-color: darkgrey;

}

main{
    background-color: black;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#scelta-genere{
    margin-bottom: 40px;
    height: 40px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
    min-height:calc(100vh -50px -80px - 80px);

}
.card-disco{
    width: 250px;
    height: 400px;
    background-color: grey;
    margin-bottom: 50px;
    padding: 20px;
}

.copertina{
    width: 100%;
    height: 180px;
}

.titolo{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

small{
    color: #333;
    font-weight: bold;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-top: 10px;

}
